:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --sub-text-color: #7d7d7d;
    --main-color: #ee4d2d ;
    --border-selected: #757575;
}

* {
    box-sizing: inherit;
}

html {
    /* 1 rem = 10px*/
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;

}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes modalGrow {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

/* Button */
.btn {
    min-width: 140px;
    border-color: #757575;
    height: 40px;
    border-radius: 2px;
    text-decoration: none;
    border: none;
    font-size: 1.4rem;
    outline: none;
}

.btn:hover {
    background-color: rgba(0,0,0,0.05);
} 

.btn.btn--primary {
    color: var(--white-color);
    background-color: var(--main-color);
    outline: none;
    border: none;
}

.btn.btn--disabled {
    cursor: default;
    opacity: 0.5;
}


